<div class="box">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src="https://img.icons8.com/bubbles/100/000000/user.png" alt="Image">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <h6 >
          <strong>
            <%= link_to user_new.name, user_path(user_new)%>
          </strong> 
          <small>
            @<%= user_new.handle %>
          </small>
          <br>
          <small>
            <%= buzz.created_at.strftime("%d/%m/%Y") + " "+ buzz.created_at.strftime("%H:%M")%>
          </small>
          </h6>
          <%= buzz.content%>
        
      </div>
      <nav class="level is-mobile">
        <div class="level-left">
            
            <% if current_user.handle == user_new.handle%>
            <%= link_to 'Delete', [buzz.user, buzz], method: :delete, class: "button is-danger" %>
            <% end %>
        </div>
      </nav>
    </div>
  </article>
</div>