 <nav class="panel is-link">
		<p class="panel-heading">Profile</p>
		<div class="panel-block">
			<article class="media">
				<div class="media-left">
					<figure class="image is-64x64">
        				<<img src="https://img.icons8.com/doodle/96/000000/user.png" alt="Image">
      				</figure>
				</div>
				<div class="media-content">
					<div class="content">
						<p>
							<div class="title is-6 ">
								
								<strong><h4>
									<%= link_to @user.name, user_path(@user)%>
								</h4></strong>
							</div>
							<div class="subtitle is-6">
								
								<strong>
									@<%= @user.handle%>
								</strong>
							</div>
						</p>
					</div>
				</div>
			</article>
		</div>
		<div class="panel-block">
			<div class="level is-mobile">
				<div class="level-item has-centered-text">
					<div>
						<p class="heading">Buzzs</p>
						<p class="title is-6"><%= current_user.buzzs.count %></p>
					</div>
				</div>
				<div class="level-item has-centered-text">
					<div>
						<p class="heading">Following</p>
						<p class="title is-6"><%= current_user.followeds.count %></p>
					</div>
				</div>
					<div class="level-item has-centered-text">
					<div>
						<p class="heading">Followers</p>
						<p class="title is-6"> <%= current_user.followers.count %></p>
					</div>
				</div>
			</div>
		</div>
	</nav>