<section class="section">
	<div class="container">
		<div class="columns">
			<div class="column is-one-fifth is-narrow">
				<%= render 'profile'%>
			</div>
			
			<div class="column is-three-fifth">
				<%= render 'form'%>
					<% @feed_buzz.each do |buzz,user|%>
						
						<%= render  buzz, :user_new => user%>
					<% end %>
					
			</div>
			<div class="column is-one-fifth">
				<%= render 'search'%>
				<%= render 'followeds'%>
			</div>
		</div>
	</div>
</section>

