<!DOCTYPE html>
<html>
  <head>
    <title>FictionBuzz</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
  </head>

  <body>

    <%if flash[:notice] %>
      <div class="notification is-primary global-notification">
        <p class="notice"><%= notice%></p>
      </div>
    <% end %>

    <%if flash[:alert] %>
      <div class="notification is-primary global-notification">
        <p class="alert"><%= alert%></p>
      </div>
    <% end %>
    <nav class="navbar is-link">
      <div class="navbar-brand">
        <%= link_to root_path, class: "navbar-item" do %>
        <h1 class="title is-5">FictionBuzz</h1>
      <% end %>
      <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExample" class="navbar-menu">

    <div class="navbar-end">

      <% if current_user %>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>

        <div class="navbar-dropdown">
          <%= link_to user_path(current_user), class: "navbar-item" do %>
            <h1 class="title is-6">Profile</h1>
          <% end %>
          
          <%= link_to logout_path, class: "navbar-item" do %>
            <h1 class="title is-6">Logout</h1>
          <% end %>
        </div>

      </div>
      <% end %>
    </div>
  </div>
</nav>

    <%= yield %>
  </body>
</html>

